[project]
	description = A plugin to list contents of application directory for iOS and Android Cordova apps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Surajit Sarkar (007-surajit)
[access "refs/for/refs/*"]
	read = group user/Surajit Sarkar (007-surajit)
	push = group user/Surajit Sarkar (007-surajit)
	label-Code-Review = -2..+2 group user/Surajit Sarkar (007-surajit)
	label-Verified = -1..+1 group user/Surajit Sarkar (007-surajit)
	rebase = group user/Surajit Sarkar (007-surajit)
	removeReviewer = group user/Surajit Sarkar (007-surajit)
	submit = group user/Surajit Sarkar (007-surajit)
[access "refs/heads/*"]
	read = group user/Surajit Sarkar (007-surajit)
	create = group user/Surajit Sarkar (007-surajit)
	push = +force group user/Surajit Sarkar (007-surajit)
	pushMerge = group user/Surajit Sarkar (007-surajit)
[access "refs/tags/*"]
	push = +force group user/Surajit Sarkar (007-surajit)
	pushTag = group user/Surajit Sarkar (007-surajit)
	pushSignedTag = group user/Surajit Sarkar (007-surajit)
